@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: relative;
    transition: all 0.25s;
    
    
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    height: 3px;
    width: 24px;
    top: 0;
    left: 0;
    transform: rotate(0);
    background-color: rgb(173, 172, 172);
    transition: all 0.5s;
}

.hamburger-middle{
    transform:  translateY(7px);
}

.hamburger-bottom{
    transform:  translateY(14px);
}
  
.open {
    transform: rotate(90deg);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-top {
    transform: rotate(45deg) translateX(6px) translateY(6px);
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateX(-6px) translateY(6px);
}